@import "tailwindcss";
body,
html {
  overflow-x: hidden;
}
/* Ensure links have no default blue color and are white */
a {
  color: white !important; /* Force links to be white */
  text-decoration: none !important; /* Remove underline */
}

/* Optionally, add hover color for links */
a:hover {
  color: #63b3ed; /* Tailwind's blue-200 on hover */
}
